{% extends "playground/base.html" %}
{% load humanize %}

{% block content %}
<div class="page-header">
    <h2>Event Statistics <small>&nbsp;&nbsp;{{events_total|intcomma}} total</small></h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Key Breakdown <small>&nbsp;&nbsp;{{event_key_stats|length}} total</small></h4>
        <br>

        {% for key in event_key_stats|dictsortreversed:"count" %}
            <p><strong>{{key.key|title}}</strong> – {{key.count|intcomma}} Event{{key.count|pluralize}}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{key.percent|floatformat}}" aria-valuemin="0" aria-valuemax="100" style="width: {{key.percent|floatformat}}%; min-width: 30px;">{{key.percent|floatformat}}%</div>
            </div>
        {% endfor %}

    </div>

    <div class="col-md-6">
        <h4>Type Breakdown <small>&nbsp;&nbsp;{{event_type_stats|length}} total</small></h4>
        <br>

        {% for type in event_type_stats|dictsortreversed:"count" %}
            <p><strong>{{type.event|title}} Event</strong> – {{type.count|intcomma}} Event{{type.count|pluralize}}</p>
            <div class="progress">
                <div class="progress-bar {{type.css_class}}" role="progressbar" aria-valuenow="{{type.percent|floatformat}}" aria-valuemin="0" aria-valuemax="100" style="width: {{type.percent|floatformat}}%; min-width: 30px;">{{type.percent|floatformat}}%</div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}