*.pyc
*.sublime-project
*.sublime-workspace
*.pgdump
.DS_Store
.sass-cache/
.coverage
/env
/src
/TODO
public/*
static/CACHE
static/components/*
node_modules/
c2/settings/development.py
deploy/builds
coverage
dump.rdb
static/**/*.gz
static/**/*.min.js
static/dist
celerybeat-schedule.*
celerybeat-schedule
celerybeat*
