
                                 222222222222222
                                2:::::::::::::::22
                                2::::::222222:::::2
                                2222222     2:::::2
                cccccccccccccccc            2:::::2
              cc:::::::::::::::c            2:::::2
             c:::::::::::::::::c         2222::::2
            c:::::::cccccc:::::c    22222::::::22
            c::::::c     ccccccc  22::::::::222
            c:::::c              2:::::22222
            c:::::c             2:::::2
            c::::::c     ccccccc2:::::2
            c:::::::cccccc:::::c2:::::2       222222
             c:::::::::::::::::c2::::::2222222:::::2
              cc:::::::::::::::c2::::::::::::::::::2
                cccccccccccccccc22222222222222222222

ZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZXZZZZ

    Build       {{build_hash}}
                https://github/sensor/c2/commit/{{build_hash}}

    Date        {{build_date}}

    Author      {{build_user.name}} <{{build_user.email}}>

    Platform    {{system_uname}}
